doctype html
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(name='description', content='')
  meta(name='author', content='Mark Otto, Jacob Thornton, and Bootstrap contributors')
  meta(name='generator', content='Hugo 0.79.0')
  title To-Do-List &middot; Bootstrap v5.0
  link(rel='canonical', href='https://getbootstrap.com/docs/5.0/examples/album/')
  // Bootstrap core CSS
  link(href='../assets/dist/css/bootstrap.min.css', rel='stylesheet')
  style.
    .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    }
    @media (min-width: 768px) {
    .bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
    }
main
  section.py-5.text-center.container
    .row.py-lg-5
      .col-lg-6.col-md-8.mx-auto
        p.lead.text-muted 수정을 완료하였습니다.
        button.btn.btn-sm.btn-outline-secondary(type='button', onclick="javascript:editclose()") Back To List
// 수정 데이터 전송
script.
  function editclose() {
      location.href = "/";
  }
