doctype html
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(name='description', content='')
  meta(name='author', content='Mark Otto, Jacob Thornton, and Bootstrap contributors')
  meta(name='generator', content='Hugo 0.79.0')
  title Album example &middot; Bootstrap v5.0
  link(rel='canonical', href='https://getbootstrap.com/docs/5.0/examples/album/')
  // Bootstrap core CSS
  link(href='../assets/dist/css/bootstrap.min.css', rel='stylesheet')
  style.
    .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    }
    @media (min-width: 768px) {
    .bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
    }
header
  #navbarHeader.collapse.bg-dark
    .container
      .row
        .col-sm-8.col-md-7.py-4
          h4.text-white About
          p.text-muted Make your own To-do-list
  .navbar.navbar-dark.bg-dark.shadow-sm
    .container
      a.navbar-brand.d-flex.align-items-center(href='#')
        strong To-Do-List
      button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarHeader', aria-controls='navbarHeader', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
main
  section.py-5.text-center.container
    .row.py-lg-5
      .col-lg-6.col-md-8.mx-auto
        h1.fw-light My List
        p.lead.text-muted &#xC544;&#xB798; &#xBC84;&#xD2BC;&#xC744; &#xD074;&#xB9AD;&#xD574;&#xC11C; &#xBAA9;&#xB85D;&#xC744; &#xCD94;&#xAC00;&#xD558;&#xC138;&#xC694;.
        p
          a.btn.btn-primary.my-2(href='#') Add
  .album.py-5.bg-light
    .container
      .row.row-cols-1.row-cols-sm-2.row-cols-md-3.g-3

        -for(let i = 0 ; i < list.length; i++)
            .col
              .card.shadow-sm
                .card-body
                  h2 #{list[i].list_name}
                  br
                  p.card-text #{list[i].list_memo}
                  br
                  .d-flex.justify-content-between.align-items-center
                    .btn-group
                      button.btn.btn-sm.btn-outline-secondary(type='button') Edit
                      button.btn.btn-sm.btn-outline-secondary(type='button') Delete
                    small.text-muted D-Day
footer.text-muted.py-5
script(src='../assets/dist/js/bootstrap.bundle.min.js')
